# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Build_Android/

# Unity backup/debug folders
Stickman_BackUpThisFolder_ButDontShipItWithYourGame/
Stickman_Stack_BurstDebugInformation_DoNotShip*/

# IDE
.vscode/
.vs/

# Android signing key
*.keystore

# Logs
Logs/
UserSettings/
MemoryCaptures/
Recordings/
